<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>msc</title>
    <script src="/web.min.js"></script>
    <script>
      var baseURL = "https://msc-serve.missxiaolin.com";

      if (window.location.href.indexOf("http://localhost") > -1 || window.location.href.indexOf("http://m.missxiaolin.com") > -1) {
        baseURL = "http://127.0.0.1:9001";
      }
      MITO.init({
        monitorAppId: "adm",
        uuId: () => MITO.getCookie("userId"),
        watch: {
          pageChange: true,
          jsError: true,
          vueError: true,
          promise: true,
          performance: true,
          whiteScreen: true,
          click: true,
          resource: true,
          request: true,
        },
        report: {
          url: baseURL + "/api/update", //错误上报地址
          reportType: 1, // 1:fetch 2:img 3
          maxQueues: 100, // img 尽量限制在 10条
          beforeSend: (data) => data,
          encryption: 0,
          delay: 30000,
        },
        customInfo: {
          getDynamic: () => {
            //获取动态传参  1.4.5版本及以后支持该方式
          },
        },
      });
    </script>
    <script type="module" crossorigin src="/static/index-a8789281.js"></script>
    <link rel="stylesheet" href="/static/index-72dcdc7b.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
